<section class="split">
  <div style="flex: 1 1 0;">
      <app-substitution *ngFor="let substitution of substitutions" [constitution]="substitution" showDate=true>
      </app-substitution>
  </div>

  <div class="split" style="flex: 1 1 0; flex-direction: column">
    <div style="flex: 1; overflow: auto;">
<!--      <div *ngIf="isAbit === true">-->
<!--        <div style="display: flex; align-items: center">-->
<!--          <mat-icon style="font-size: 48px; width: 48px; height: 48px">fact_check</mat-icon>-->
<!--          <span style="font-size: 40px; white-space: normal; display: inline-block; line-height: 40px">-->
<!--          Dein Jahrgang nimmt am ABIT-Programm teil.-->
<!--        </span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngIf="isAbit === false">-->
<!--        <div style="display: flex; align-items: center">-->
<!--          <mat-icon style="font-size: 48px; width: 48px; height: 48px">highlight_off</mat-icon>-->
<!--          <span style="font-size: 40px">-->
<!--          Dein Jahrgang nimmt nicht am ABIT-Programm teil.-->
<!--        </span>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div style="flex: 1; overflow: auto;">
    </div>
  </div>
</section>
