<h1>Dein Account</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input [ngModel]="email" name="mail" matInput disabled value="abc123">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input name="password" matInput type="password" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Klasse</mat-label>
    <input name="group" matInput type="text" [ngModel]="group" ngModel>
  </mat-form-field>
  <br>
  <button type="submit" color="primary" mat-flat-button style="margin-bottom: 5px">Speichern</button>
  <br>
  <button type="button" mat-flat-button *ngIf="pushNotificationsEnabled" (click)="togglePush()">
    Push-Nachrichten deaktivieren
  </button>
  <button class="push" type="button" mat-flat-button color="accent" *ngIf="!pushNotificationsEnabled" (click)="togglePush()">
    Push-Nachrichten aktivieren
  </button>
</form>
<br>
