/* You can add global styles to this file, and also import other style files */

@import "styles/material-icons.css";
@import "styles/roboto.css";

body {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
